* {
    vertical-align: baseline;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/*COLOR SETS*/
:root {
  --primary-color-1: #000000;
  --primary-color-2: #950606;
  --primary-color-3: #B18645;
  --primary-color-4: #C9AD78;
  --primary-color-5: #ffffff;
}
.bk-1 {
    background-color: var(--primary-color-1);
}
.frt-1 {
    color: var(--primary-color-1);
}
.bk-2 {
    background-color: var(--primary-color-2);
}
.frt-2 {
    color: var(--primary-color-2);
}
.bk-3 {
    background-color: var(--primary-color-3);
}
.frt-3 {
    color: var(--primary-color-3);
}
.bk-4 {
    background-color: var(--primary-color-4);
}
.frt-4 {
    color: var(--primary-color-4);
}
.bk-5 {
    background-color: var(--primary-color-5);
}
.frt-5 {
    color: var(--primary-color-5);
}

body {
    background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: column;
}

.loader {
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    z-index: 100;
    position: fixed;
    top: 0px;
    right: 0px;
}

.loadingLogo {
    width: 300px;
    margin: 0 auto;
    animation: spin 1.7s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.headerBlock {
    width: 100%;
    height: 160px;
    font-size: 71px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    text-wrap:pretty;
    text-align: center;
    background-image: url("/assets/treebackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo {
    width: 80px;
    margin-top: 10px;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    gap: 1.25em;
    list-style-type: none;
    height: 22px;
    padding-bottom: 5px;
    margin-top:8px;
    margin-bottom:30px;
}

.navigationItem:hover {
    cursor: pointer;
    color: var(--primary-color-2);
    text-decoration: underline;
}

.navigationCategory {
    float: left;
    overflow: hidden;
    z-index:100;
}

.navigationCategory .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    background-color: var(--primary-color-5);
}

.dropdown-content div {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content div:hover {
  color: var(--primary-color-2);
  text-decoration: underline;
  cursor: pointer;
}

.navigationCategory:hover .dropdown-content {
  display: block;
}

.selected {
    text-decoration: underline;
    color: var(--primary-color-2);
}

.footer {
    height: 140px;
    font-size: 44px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.bodyContent {
    display: flex;
}

.emptySideBar {
    width:10%;
}

.oneColumn {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
}

.titleText {
    font-size: 65px;
    text-align: center;
}

.quoteText {
    font-size: 33px;
    text-align: center;
}

.bodyTitle {
    font-size: 36px;
}

.bodyText {
    font-size: 26px;
}

.hidden {
    display: none!important;
}
.go_button {
    margin: 0 auto;
    margin-top: 5px;
    font-size: 34px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: rgb(177, 134, 69);
    background-color: rgba(255, 255, 255, .6);
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    width: 150px;
}

.go_button:hover {
    cursor: pointer;
    background-color: black;
}

.play_button {
    margin: 0 auto;
    margin-top: 5px;
    font-size: 24px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: rgb(177, 134, 69);
    background-color: rgba(255, 255, 255, .6);
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    width: 150px;
}

.play_button:hover {
    cursor: pointer;
    background-color: black;
}