* {
vertical-align: baseline;
font-weight: inherit;
font-family: inherit;
font-style: inherit;
font-size: 100%;
border: 0 none;
outline: 0;
padding: 0;
margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-size: cover;
    height:100vh;
    display: flex;
    flex-direction: column;
}

.main_header {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: black;
    color: rgb(209, 165, 100);
    text-wrap:pretty;
    text-align: center;
    background-image: url("/assets/treebackground.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar_container {
    width: 80vw;
    font-size: 16px;
    margin: 0 auto;
    justify-content:space-around;
    margin-top: 40px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
}

.no_bullets {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .2em;
    text-align: center;
}

a { 
    color: inherit;
    text-decoration: none;
} 

.list_link:hover {
    cursor: pointer;
}

.list_link_selected {
    color: rgb(177, 134, 69);
    text-decoration: underline;
}

.spaced {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 26px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.pop_content {
    width: 80vw;
    font-size: 22px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
    color: rgb(177, 134, 69);
    text-wrap:pretty;
    text-align: center;
}

.article_header {
    width: 80vw;
    font-size: 16px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
    color: rgb(177, 134, 69);
}

.article_content {
    width: 80vw;
    font-size: 12px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
}

.body_content {
    width: 80vw;
    font-size: 12px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
}

.form_select {
    width: 10vw;
    font-size: 18px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .6);
}

.form_select:hover {
    cursor: pointer;
}

.selector:hover {
    cursor: pointer;
}

.text_spaced {
    margin: 10px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text_spaced_italics {
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-style: italic;
}

.big_link {
    color: rgb(177, 134, 69);
}

.go_button {
    margin: 0 auto;
    margin-top: 5px;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: rgb(177, 134, 69);
    background-color: rgba(255, 255, 255, .6);
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    width: 150px;
}

.go_button:hover {
    cursor: pointer;
    background-color: black;
}

.play_button {
    margin: 0 auto;
    margin-top: 5px;
    font-size: 18px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: rgb(177, 134, 69);
    background-color: rgba(255, 255, 255, .6);
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
    width: 150px;
    border: 1px solid black;
}

.play_button:hover {
    cursor: pointer;
    background-color: black;
}

.footer {
    border-top: 2px solid blanchedalmond;
    font-size: 22px;
    margin: 0 auto;
    margin-top:50px;
    color: rgb(177, 134, 69);
    background-color: #950606;
    width: 100%;
    text-wrap:pretty;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

.section_line {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid black;
}

.optionBack {
    background-color: rgb(255, 255, 255);
}